
body{
background-image: url(bg1.jpg);
background-height: 100%;
background-repeat: no-repeat;
background-position: center;
height: 100%;
width: 100%;
font-family: calibri;
}

#name{
  font-size: 2em;
  text-align: center;
  color: #cccccc;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  border-radius: 5px;
  margin-bottom: 0;
  margin-bo;
}

#bio{
  font-size: 0.8em;
  text-align: center;
  color: #cccccc;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  border-radius: 5px;
}

#social{
text-align: center;

}

#twitter{
  height: 1.5em;
  vertical-align: middle;
  margin: 0
}
#insta{
  height: 2em;
  vertical-align: middle;
  margin: 0
}
#photo_landing{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 10em;
  border-radius: 50%;
}

#boxes{
margin: auto;
margin-top: 5em;
width: 29.59em;}

#header_box{
  z-index: 100;
  float: left;
  margin: auto;
  border-radius: 2em 0em 0em 2em;
  width: 16em;
  background-color: #4d4d4b;
  padding: 1em;
  box-shadow: -2px 2px 1px 0px #000000;
}

#nav_box{
float: right; }

ul{
   list-style-type: none;
   margin: 0;
   padding: 0;}


 .nav_link{
   z-index: -100;
   text-align: center;
   vertical-align: middle;
   text-decoration: none;
   color: #404040 ;

   display: block;
   background-color: #666666;
   font-size: 2.8em;
   padding: 0.452em 0.5em;
   margin-bottom: 0.05em;
   box-shadow: 0px 2px 0px 0px #000000;
  }
.nav_link:hover{
    z-index: -100;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    color: #1a1a1a ;
    display: block;
    background-color: #4d4d4d;
    font-size: 2.8em;
    padding: 0.452em 0.5em;
    margin-bottom: 0.05em;
    box-shadow: 0px 2px 0px 0px #000000;
   }

  #nav_box li:first-child > a {
    border-radius: 0px 20px 0px 0px;
  }

#nav_box li:last-child > a{
    border-radius: 0px 0px 20px 0px;
  }

#link_1{
  display: none;
}
